.clientContainer{
    padding-left: 4rem;
    padding-right: 4rem;
    @media (max-width: 768px){
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.clientRow{
    margin: auto auto 3rem;
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
.clientRow:nth-child(2n+2) {
    flex-direction: row-reverse;
    @media (max-width: 768px){
        flex-direction: column-reverse;
    }
}
.clientItem {
    margin-top: 3rem;
    margin-bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
}
.clientSection{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: url('/images/bg-gradient.png') no-repeat center center;
    background-size: cover;
    @media (max-width: 768px){
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
.clientImage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.clientTitle{
    font-size: 70px;
    line-height: 72px;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
    margin-bottom: 14px;
    background: -webkit-linear-gradient(#fff, rgba(80, 80, 78, 0.9294117647));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    display: block;
    @media (max-width: 768px){
        font-size: 38px;
        line-height: 34px;
    }
}
.clientContent{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 16px;
    display: block;
    @media (max-width: 768px){
        font-size: 18px;
        margin-bottom: 14px;
    }
}
.viewButton{
  padding: 14px 24px;
  border: none;
  border-radius: 50px;
  background: #aaff011a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  @media (max-width: 768px){
    padding: 12px 16px;
  }
}
.viewButton::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px; /* Border thickness */
  border-radius: 50px;
  background: conic-gradient(
    from 0deg,
    #ffffff,
    #AAFF01,
  );
  background-size: 200% 200%;
  z-index: -1;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  box-sizing: border-box;
  @media (max-width: 768px){
    padding: 1px;
  }
}
.clientInfo{
    display: flex;
    width: 100%;
    @media (max-width: 768px){
        justify-content: center;
        text-align: center;
    }
}
@media (min-width: 1080px) {
    .clientRow {
        height: 70vh;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .clientInfo {
        margin-top: 100px;
        width: 40%;
        text-align: right;
        justify-content: flex-end;
    }
    .clientRow:nth-child(2n+2) .clientInfo{
        text-align: left;
    }
    .clientRow:nth-child(2n+2) .clientImage{
        margin-right: 4%;
    }
    .clientImage {
        width: 56%;
        margin-left: 4%;
    }
}

.clientImage {
  //transform: rotate(14deg) translate(220px, -100px);
  //transform: rotate(-14deg) translate(-220px, -100px);
  transition: 0.2s all ease;
    @media (max-width: 768px){
        img{
            width: 300px;
            height: 210px;
            display: flex;
            overflow: hidden;
            margin-bottom: 20px;
        }
    }
}


