.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
    @media (max-width: 768px){
        padding: 20px;
    }
    h2{
        font-size: 60px;
        margin: 0px;
        font-weight: 400;
        transition: all 0.4s;
        @media (max-width: 768px){
            font-size: 24px;
        }
    }

    p{
        transition: all 0.4s;
        font-weight: 300;
        @media (max-width: 768px){
            margin: 0;
        }
        img{
            @media (max-width: 768px){
                width: 30px;
                height: 30px;
            }
        }
    }

    &:last-of-type{
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover{
        opacity: 0.5;
        h2{
            transform: translateX(-10px);
        }
        p{
            transform: translateX(10px);
        }
    }
}

.project .urlLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    h2{
        color: #fff;
        text-decoration: none;
        flex: 1;
    }
}