.introduction{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color: #141516;
    svg{
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        path{
            fill: #141516;
        }
    }
    p{
        display: flex;
        color: white;
        font-size: 140px;
        font-weight: 700;
        align-items: center;
        position: absolute;
        position: relative;
        z-index: 1;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 160px;
            margin-right: 10px;
        }

        .logoFlight{
            position: absolute;
            top: -80%;
            right: -4%;
            width: 100px;
            height: 160px;
        }
    }
}